@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
    --color-primary: #ffb969;
    --color-secondary: #4F1C15;
    --color-text: #000000;
    --color-background: #FFFFFF;
    --color-link-text: #359BF9;

    --font-size-topbar: 2.8vw;
    --font-size-menu-toggle: 2vw;
    --font-size-title: 5vw;
    --font-size-subtitle: 3vw;
    --font-size-text: 2vw;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: "Lexend", sans-serif;
    background-color: white;
}

.rowTopBar {
    display: flex;
    align-items: center;
    background-color: #ffb969;
    color: white;
}

.rowTopBar div {
    flex: 1;
    text-align: center;
    font-size: var(--font-size-topbar);
    color: black;
}

.topBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffb969;
    color: white;
}

.main_nav {
    height: 80%;
    display: flex;
    gap: 2.8vw;
    color: #4F1C15;
    font-size: var(--font-size-menu-toggle);
    font-weight: 500;
}

.menuToggle {
    display: block;
    background-color: #ffb969;
    border: none;
    cursor: pointer;
    padding: 1.5vw;
}

.menuSideBar {
    position: fixed;
    top: 0;
    left: -30%;
    width: 30vw;
    height: 100vh;
    background-color: #ffb969;
    transition: left 0.3s ease;
    color: black;
    box-shadow: 0.39vw 0 0.49vw rgba(0, 0, 0, 0.5);
}

.menuSideBar a {
    color: black;
    text-decoration: none;
}

.menuSideBar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menuSideBar li {
    padding-top: 1.5vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.standardRow {
    padding-top: 8vh;
    display: flex;
    justify-content: space-around;
    padding-right: 15vw;
}

.standardRow img {
    padding-left: 10vw;
    max-width: 100%;
    height: auto;
    width: 23vw;
    height: 64vh;
}

.standardColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 64vh;
    padding: 0 20px;
}

.standardColumn h1,
.standardColumn p ,
.standardColumn h2 {
    color: var(--color-text);
    padding: 0;
    margin: 0;
}

.standardColumn h1 {
    font-size: 5vw;
    margin-top: 0;
}

.standardColumn button {
    background-color: var(--color-secondary);
    color: white;
    width: 100%;
    border: none;
    border-radius: 1.4vw;
    padding: 1vw;
    font-size: 2vw;
    cursor: pointer;
}

.textBox {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

@media only screen and (max-width: 57em){
    .topBar {
        display: none;
    }

    .menuToggle {
        display: block;
    }

    .standardRow img {
        width: 15vw;
        height: 38vh;
    }
    .standardColumn{
        align-items: center;
        text-align: center;
        padding: 0 20px;
    }
    .standardColumn h1 {
        font-size: 4vw;
    }
    .textBox{
        width: 30vw;
    }

}
@media only screen and (min-width: 57em) {
    .topBar {
        display: flex;
    }

    .menuToggle {
        display: none;
    }

    .rowTopBar {
        display: none;
    }
}
@media only screen and (min-width: 35em) and (max-width: 57em) {
    .standardRow {
        padding: 6vh 3vw 0 3vw;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .standardRow img {
        padding: 2vw 2vw 0 2vw;
        max-width: 100%;
        height: auto;
        width: 30vw;
        height: 40vh;
    }
    .standardColumn p {
        font-size: 2vw;
        text-align: justify;
    }
    .standardColumn h2 {
        font-size: 4vw;
        text-align: justify;
    }
    .standardColumn {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        height: 60vh;
        padding: 0 3vw;
    }

    .standardColumn button {
        padding: 1.5vw;
        font-size: 3vw;
    }

    .textBox {
        width: 50vw;
    }
}
@media only screen and (max-width: 35em) {

    .standardRow{
    padding: 0 0 0 0;
}

    .standardRow img{
        display: none;
    }

    .standartColumn{
        justify-content: center;
        align-items: center;
        background-image: url('img/img1Blur.png');
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 100%;
    }

    .standardColumn h1,
    .standardColumn p ,
    .standardColumn h2 {
        text-shadow: 0.15vw 0.15vh 2px var(--color-text);
        text-shadow: -0.15vw -0.15vh 2px var(--color-text);
        color: var(--color-background);
    }

    .standardColumn p{
        font-size: 3.5vw;
    }

    .standardColumn h2 {
        font-size: 4.5vw;
    }

    .standardColumn h1{
        padding: 4vh;
        font-size: 6vw;
    }

    .standardColumn button{
       
        font-size: 3vw;
    }

    .textBox{
        align-items: center;
        width: 80vw;
        height: 65vh;
    }
}

.dogHistory { 
    margin: 32px 0 32px 0;
    flex-direction: column;
    gap: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    background-color: var(--color-secondary);
}

.dogHistory p {
    font-size: 24px;
    color: var(--color-primary);
    margin: 0;
}

.dogList {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.dogName {
    font-size: 16px;
    margin: 0;
    text-align: center;
}

.dogImg {
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

.infoShelter {
    margin-top: 32px;
    background-color: var(--color-secondary);
    color: var(--color-background);
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.infoShelter p {
    font-size: 24px;
    margin: 0;
}

.schedules {
    height: 150px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    flex-wrap: wrap;
}

.schedules li {
    margin-right: 15vw;
}