@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
    --color-primary: #ffb969;
    --color-secondary: #4F1C15;
    --color-text: #000000;
    --color-background: #FFFFFF;
    --color-link-text: #359BF9;

    --font-size-topbar: 2.8vw;
    --font-size-menu-toggle: 2vw;
    --font-size-title: 5vw;
    --font-size-subtitle: 3vw;
    --font-size-text: 2vw;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: "Lexend", sans-serif;
    background-color: white;
}

.rowTopBar {
    display: flex;
    align-items: center;
    background-color: #ffb969;
    color: white;
}

.rowTopBar div {
    flex: 1;
    text-align: center;
    font-size: var(--font-size-topbar);
    color: black;
}

.topBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffb969;
    color: white;
}

.main_nav {
    height: 80%;
    display: flex;
    gap: 2.8vw; 
    color: #4F1C15;
    font-size: var(--font-size-menu-toggle);
    font-weight: 500;
}

.menuToggle {
    display: block;
    background-color: #ffb969;
    border: none;
    cursor: pointer;
    padding: 1.5vw;
}

.menuSideBar {
    position: fixed;
    top: 0;
    left: -30%;
    width: 30vw;
    height: 100vh;
    background-color: #ffb969;
    transition: left 0.3s ease;
    color: black;
    box-shadow: 0.39vw 0 0.49vw rgba(0, 0, 0, 0.5);
}

.menuSideBar a {
    color: black;
    text-decoration: none;
}

.menuSideBar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menuSideBar li {
    padding-top: 1.5vw; 
    padding-left: 0.5vw;
    padding-right: 0.5vw; /* Ajustado para vw */
}

@media only screen and (max-width: 48em){ 
    .topBar {
        display: none;
    }

    .menuToggle {
        display: block;
    }
}

@media only screen and (min-width: 48em) { 
    .topBar {
        display: flex;
    }

    .menuToggle {
        display: none;
    }

    .rowTopBar {
        display: none;
    }
}

.standartRow {
    padding-top: 8vh;
    display: flex;
    justify-content: space-around;
    padding-right: 15vw;
}

.standartRow img {
    padding-left: 10vw;
    max-width: 100%;
    height: auto;
    width: 23vw;
    height: 64vh;
}

.standartColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 64vh;
    padding: 0 20px;
}

.standartColumn h1,
.standartColumn p {
    color: var(--color-text);
    padding: 0;
    margin: 0;
}

.standartColumn h1 {
    font-size: 5vw;
    margin-top: 0;
}
.standartColumn button {
    background-color: var(--color-secondary);
    color: white;
    width: 100%;
    border: none;
    border-radius: 1.4vw;
    padding: 1vw; 
    font-size: 2vw; 
    cursor: pointer;
}

.textBox {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

@media only screen and (min-width: 44em) and (max-width: 48em) {
    .standartRow {
        padding-top: 6vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-right: 10vw;
    }
    
    .standartRow img {
        padding-left: 5vw;
        max-width: 100%;
        height: auto;
        width: 30vw;
        height: 40vh;
    }
    
    .standartColumn {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        height: 60vh;
        padding: 0 5px;
    }
    
    .standartColumn button {
        padding: 1.5vw; 
        font-size: 3vw; 
    }
    
    .textBox {
        width: 50vw;
    }
}













.dogHistory {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary);
    height: 250px;
    margin-top: 40px;
    flex-direction: row;
}

.dogImg {
    background-color: #f4f4f4;
    width: 150px;
    height: 150px;
}

.dogName {
    color: var(--color-background);
    font-size: var(--font-size-text);
    
}